{% extends "clouderp/base_2.html" %}
{% load staticfiles %}

{% block title %}Achievement Details{% endblock %}



{% block content %}

<div class="content-wrapper">

  <div class="modal fade" id="modal-book">
  <div class="modal-dialog">
    <div class="modal-content"></div>
  </div>
</div>
	 <section class="content-header">
                <ol class="breadcrumb">
                       <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
                       <!-- <li><a href="#">Company list</a></li> -->
                     <li class="">Profile</li>
                     <li class="active">Achievement Details</li>
            </ol>
           
        <!-- </div> -->
      </section>

  <section class="content">
      <div class="callout callout-warning">
        <h4>Welcome!</h4>
        Welcome to predict books your personal AI powered business engine!
      </div>




<div class="row">
      <div class="col-xs-12">
          <div class="box box-default">
          <div class="box-body">



            <a href="{% url 'ecommerce_integration:productlist' %}" class="btn btn-success" role="button">Products</a>
            <a href="{% url 'ecommerce_integration:servicelist' %}" class="btn btn-info" role="button">Services</a>
            <a href="{% url 'ecommerce_integration:apilist' %}" class="btn btn-primary" role="button">APIs</a>
            <a href="{% url 'userprofile:case_create' %}" class="btn btn-warning" role="button">Create Achievements</a>
            
          <div class='pull-right'>
            <a href="{% url 'ecommerce_integration:subscribedproductlist' %}" class="btn btn-info" role="button">My Subscriptions</a>
          </div>
        
        
        
        </div>
      
      </div>
    
    </div>

</div>



		<div class="row">
			<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
				<div class="box box-info">
					<div class="box-header with-border">
        			
          				<h2 class="box-title"><b>Achievement Details</b></h2>
        
        	</div>

          <div class="box-body table-responsive no-padding">
            <table class="table table-striped">
              <tr>
                <th>Legal Case</th>
                <th>{{ case_details.legal_case }}</th>
              </tr>

              <tr>
                <th>Act</th>
                <th>{{ case_details.act }}</th>
              </tr>


               <tr>
                <th>Location</th>
                <th>{{ case_details.location }}</th>
              </tr>


               <tr>
                <th>Facts</th>
                <th>{{ case_details.facts }}</th>
              </tr>

              <tr>
                <th>Issue</th>
                <th>{{ case_details.issue }}</th>
              </tr>

              <tr>
                <th>Argument</th>
                <th>{{ case_details.argument }}</th>
              </tr>

              <tr>
                <th>Judgement</th>
                <th>{{ case_details.judgement }}</th>
              </tr>

              <tr>
                <th>Your role</th>
                <th>{{ case_details.user_role }}</th>
              </tr>
            </table>
          </div>


          {% if case_details.User == user %}
  					<div class="box-footer">
      					<p><a class='btn btn-warning' href="{% url 'userprofile:case_update' pk=case_details.pk %}">Update Case</a></p>

    				</div>
          {% endif %}

				</div>


				</div>
			</div>
		
	</section>
</div>

		
	









{% endblock %}