{% load crispy_forms_tags %}
<form method="post" data-url="{% url 'userprofile:casedelete' case_details.id %}" class="delete-form">
	{% csrf_token %}
		<div class="modal-header">
		<h5 class="modal-title" >Delete Achievement</h5>
		<button type="button" class="close" data-dismiss="modal" aria-label="Close">
		<span aria-hidden="true">&times;</span>
		</button>
		</div>
		<div class="modal-body">
		<p class="lead"> Are you sure you want to remove this Achievement?</strong></p>
		</div>
		<div class="modal-footer">
		<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
		<input type="submit" id="reload_comment" class="btn btn-danger" value="Delete Achievement">
		</div>
</form>

<script type="text/javascript">
$('#reload_comment').click(function() {
    location.reload();
});
</script>