{% extends "clouderp/base_2.html" %}
{% load staticfiles %}

{% block title %}Services{% endblock %}



{% block content %}

<div class="content-wrapper">


 <section class="content-header">
        <!-- <div class="col-md-12 col-md-offset-4"> -->
          <h1>
            <strong>All Services</strong>
          </h1>
                <ol class="breadcrumb">
                       <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
                       <!-- <li><a href="#">Company list</a></li> -->
                     <li class="">Company list</li>
                     <li class="active">Create Group</li>
            </ol>
        <!-- </div> -->
      </section>

  <section class="content">
      <div class="callout callout-info">
        <h4>Welcome!</h4>
        Welcome to predict books your personal AI powered business engine!
        <!-- <a href="http://getbootstrap.com/javascript/#modals">Bootstrap documentation</a> -->
      </div>



<div class="row">
      <div class="col-xs-12">
          <div class="box box-default">
          <div class="box-body">



            <a href="{% url 'ecommerce_integration:productlist' %}" class="btn btn-success" role="button">Products</a>
            <a href="{% url 'ecommerce_integration:servicelist' %}" class="btn btn-info" role="button">Services</a>
            <a href="{% url 'ecommerce_integration:apilist' %}" class="btn btn-primary" role="button">APIs</a>


            
                  
          <div class='pull-right'>
            <a href="{% url 'ecommerce_integration:subscribedproductlist' %}" class="btn btn-info" role="button">My Subscriptions</a>
            
              

          </div>
        
        
        
        </div>
      
      </div>
    
    </div>

</div>

<!-- Service Images -->

        <div class="row">        

          {% for service in services %}
            <div class="col-sm-4">
              <div class="box box-info">
                <div class="box-header">
            {% if service.image %}
               <img class="img-responsive" src="{{ service.image.url }}/" alt="product picture">
            {% else %}
                <img class="img-responsive" src="{% static 'userprofile/comming soon.jpg' %}">
            {% endif %}
                <h3><a href="{% url 'ecommerce_integration:servicedetail' pk=service.pk %}">{{ service.title}}</a></h3>
               <!--  <h4><center><strong> &#8377; {{ service.price }}/-</strong>   annually.</center></h4> -->
                </div>
                <div class="box-body">
                  <p>{{ service.summary|safe|truncatewords:"45" }}</p>

              <div class="ratings">
<!--                 <p class="pull-right">{{ service.product_review.count }} review{{ service.product_review.count|pluralize }}</p> -->

                <style type="text/css">
                  .checked {
                     color: orange;
                }
                </style>
                <p>
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star-o empty "></span>
                    <span class="fa fa-star-o empty"></span>
                </p>
            </div>
                </div>
                <div class="box-footer">


                  <a class="btn btn-info pull-right" href="{% url 'ecommerce_integration:servicedetail' pk=service.pk %}">Details</a>
                                
                </div>
                
              </div>

            </div>
          {% endfor %}



        <!-- Pagination -->
        <ul class="text-center">
                  {% if services.has_other_pages %}
                      <ul class="pagination">
                       {% if services.has_previous %}
                          <li><a href="?page={{ services.previous_page_number }}">&laquo;</a></li>
                        {% else %}
                          <li class="disabled"><span>&laquo;</span></li>
                        {% endif %}
                        {% for i in services.paginator.page_range %}
                            {% if services.number == i %}
                               <li class="active"><span>{{ i }} <span class="sr-only">(current)</span></span></li>
                            {% else %}
                                <li><a href="?page={{ i }}">{{ i }}</a></li>
                            {% endif %}
                        {% endfor %}
                        {% if services.has_next %}
                            <li><a href="?page={{ services.next_page_number }}">&raquo;</a></li>
                        {% else %}
                            <li class="disabled"><span>&raquo;</span></li>
                        {% endif %}
                    </ul>
                {% endif %}
        </ul>


      <!-- Sidebar Widgets Column -->

    </div>
    <!-- /.row -->


</section>
</div>

    


  

{% endblock %}