{% load crispy_forms_tags %}
<form method="post" data-url="{% url 'userprofile:postcommentupdate' form.instance.id %}" class="update-form">
	{% csrf_token %}
		<div class="modal-header">
		<h5 class="modal-title" >Update Comment</h5>
		<button type="button" class="close" data-dismiss="modal" aria-label="Close">
		<span aria-hidden="true">&times;</span>
		</button>
		</div>
		<div class="modal-body">
		{{form|crispy}}
		</div>
		<div class="modal-footer">
		<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
		<button type="submit" id="reload_comment_update" class="btn btn-primary">edit answer</button>
		</div>
</form>


<script type="text/javascript">
$('#reload_comment_update').click(function() {
    location.reload();
});
</script>