{% extends "clouderp/base_2.html" %}
{% load staticfiles %}

{% block title %}
    {% if not form.instance.pk %}
    Ask Question
    {% else %}
    Update Question
    {% endif %}
{% endblock %}



{% block content %}
<div class="content-wrapper">
<!-- <div class="container"> -->
			<section class="content-header">
				<!-- <div class="col-md-12 col-md-offset-4"> -->
					<h1>
						<strong>Ask Questions</strong>
					</h1>
								<ol class="breadcrumb">
			       					 <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
			       					 <!-- <li><a href="#">Company list</a></li> -->
			     				   <li class="active">Company list</li>
			      </ol>
				<!-- </div> -->
			</section>

<section class="content">
      <div class="callout callout-info">
        <h4>Welcome!</h4>
        Welcome to predict books your personal AI powered business engine!
        <!-- <a href="http://getbootstrap.com/javascript/#modals">Bootstrap documentation</a> -->
      </div>

<div class="row">
      <div class="col-xs-12">
          <div class="box box-default">
          <div class="box-body">

            

            <a href="{% url 'consultancy:consultancylist' %}" class="btn btn-success" role="button">Show Queries</a>


            
                  
          <div class='pull-right'>
            <a href="{% url 'consultancy:myquestions' %}" class="btn btn-info" role="button">Show my Queries</a>
            <a href="{% url 'consultancy:consultancycreate' %}" class="btn btn-warning" role="button">Ask Query</a>
              

          </div>
        
        
        
        </div>
      
      </div>
    
    </div>

</div>

<div class="row">
  <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
          <!-- Horizontal Form -->
          <div class="box box-info">
            <div class="box-header with-border">
            {% if not form.instance.pk %}
              <h3 class="box-title">Ask Questions</h3>
            {% else %}
              <h3 class="box-title">Update Questions</h3>
            {% endif %}
            </div>
            <!-- /.box-header -->
            <!-- form start -->
            <form method="POST" class="form-horizontal">
            {% csrf_token %}
              <div class="box-body">

                <div class="form-group">
                  <label for="input" class="col-sm-2 control-label">Question</label>
                  
                    <div class="col-sm-10">
                          
                        {{ form.Questions.errors }}
                        {{ form.Questions }}
                      
                    </div>

                 

                </div>

             
                
                
              </div>
              <!-- /.box-body -->
              <div class="box-footer">
                <button class="btn btn-default">Cancel</button>
                {% if not form.instance.pk %}
                <button type="submit" class="btn btn-info pull-right" value="Submit">Submit</button>
                {% else %}
                <button type="submit" class="btn btn-info pull-right" value="Submit">Update</button>
                {% endif %}

                
             </div>
              <!-- /.box-footer -->
            </form>
          </div>



</div>
</div>



								

</section>

</div>


{% endblock %}
